<ion-header>
  <ion-navbar>
    <ion-title>
      BluetoothLe Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-item>
        <ion-avatar item-start>
          <img src="img/avatar-finn.png">
        </ion-avatar>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>I've had a pretty messed up day. If we just...</p>
      </ion-item> -->
    <ion-item (click)="init()">
      <h2>Init</h2>
      <p>{{ initStatus || 'reading...'}}</p>
    </ion-item>
    <ion-item *ngIf="osType !== 'ios'" (click)="checkPermissions()">
      <h2>Permissions...</h2>
      <p> {{ hasPermission || 'permission status goes here...' }}</p>
    </ion-item>
    <ion-item *ngIf="osType !== 'ios'" (click)="checkLocations()">
      <h2>Locations</h2>
      <p>{{ isLocationEnabled || 'Location status goes here...' }}</p>
    </ion-item>
    <ion-item *ngIf="osType !== 'ios'" (click)="enable()">
      <h2>Enable</h2>
      <p>Enable Bluetooth</p>
    </ion-item>
    <ion-item *ngIf="osType !== 'ios'" (click)="disable()">
      <h2>Disable</h2>
      <p>Disable Bluetooth</p>
    </ion-item>
    <ion-item *ngIf="osType !== 'ios'" (click)="getAdapterInfo()">
      <h2>getAdapterInfo</h2>
      <p>Click to see adapter info...</p>
    </ion-item>
    <ion-item (click)="scanWithTimeout()">
      <h2>scanWithTimeout</h2>
      <p>Click to scan devices...</p>
    </ion-item>
    <ion-item (click)="retrieveConnected()">
      <h2>retrieveConnected</h2>
      <p>Click to see all connected BLE devices</p>
    </ion-item>
  </ion-list>
</ion-content>